Example/SwiftSideMenu.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Example/SwiftSideMenu.xcodeproj/project.xcworkspace/xcuserdata/matteogobbi.xcuserdatad/UserInterfaceState.xcuserstate
Example/SwiftSideMenu.xcodeproj/xcuserdata/matteogobbi.xcuserdatad/xcschemes/xcschememanagement.plist
